<h1>Ask your question to the coach</h1>
<div class="container d-flex ">
<div class="p-5 d-flex align-items-center">
<form action="/answer" data-turbo="false" class="d-flex"  >
  <input type="text" name="reponse" class="search-border">
  <input type="submit" value="Ask!" class="button-bordering" >
</form>
</div>
</div>
